
<div class="container">
    <button class="btn btn-primary add-student-btn" (click)="AddPopup()">Add Student</button>
  
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th><input type="checkbox" (change)="toggleSelectAll($event)" [checked]="selectedStudents.length === students.length && students.length > 0"></th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td><input type="checkbox" (change)="toggleSelectStudent(student, $event)" [checked]="selectedStudents.includes(student)"></td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.dob | date: 'yyyy-MM-dd'}}</td>
          <td>{{ student.gender }}</td>
          <td>
            <button class="btn btn-sm btn-info edit-student-btn" (click)="EditPopup(student)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button class="btn btn-danger" *ngIf="selectedStudents.length > 0" (click)="deleteSelectedStudents()">Delete</button>
  </div>
  